openapi: 3.0.0
info:
  title: Unofficial Slant 3D API Specification
  version: 0.1.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://www.slant3dapi.com

paths:
  /api/slicer:
    post:
      summary: Slices a 3D model
      description: Slices a 3D model and returns the price
      operationId: sliceModel
      security:
        - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SliceRequest"
      responses:
        "200":
          description: Model sliced successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SliceResponse"
        "400":
          description: Invalid input or unable to slice model
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Error"
                  - type: object
                    properties:
                      error:
                        type: string
                        example: No file URL provided in the request.

  /api/filament:
    get:
      summary: Get filaments
      operationId: getFilaments
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Filaments retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  filaments:
                    type: array
                    items:
                      $ref: "#/components/schemas/Filament"

  /api/order:
    post:
      summary: Place an order
      operationId: placeOrder
      security:
        - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Order"
      responses:
        "200":
          description: Order placed successfully
          content:
            text/plain:
              schema:
                type: object
                properties:
                  orderId:
                    type: string
                    example: 9e2XgsckuItf6JfiDdci
            # The API currently returns the order number as plain text, but will eventually return a json object instead
            # Update: The API now returns a json object instead of plain text, but it still only returns the order id
            # application/json:
            #   schema:
            #     type: object
            #     properties:
            #       orderNumber:
            #         type: string
            #         example: 123456
            #       OrderId:
            #         type: string
            #         example: 123456
            #       status:
            #         type: string
            #         example: Processed
            #       shippingRate:
            #         type: string
            #         example: $5.00
            #       totalPrice:
            #         type: string
            #         example: $25.00
        "400":
          description: Invalid input or unable to place order
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Error"
                  - $ref: "#/components/schemas/SimpleError"

  /api/order/estimate:
    post:
      summary: Estimate an order
      description: Estimates the price of an order with shipping
      operationId: estimateOrder
      security:
        - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Order"
      responses:
        "200":
          description: Order placed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalPrice:
                    type: number
                    example: 9.47

        "400":
          description: Invalid input or unable to place order
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Error"
                  - $ref: "#/components/schemas/SimpleError"

  /api/order/{orderId}/get-tracking:
    get:
      summary: Get tracking
      description: Gets the status of an order
      operationId: getTracking
      security:
        - ApiKeyAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          description: The order ID
          example: 9e2XgsckuItf6JfiDdci
          schema:
            type: string
      responses:
        "200":
          description: Order status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: "#/components/schemas/OrderStatus"
                  trackingNumbers:
                    type: array
        "400":
          description: Invalid input or unable to get order status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  schemas:
    SliceRequest:
      type: object
      properties:
        fileURL:
          type: string
          format: uri
          example: http://example.com/model.stl
      required:
        - fileURL
    SliceResponse:
      type: object
      properties:
        message:
          type: string
          example: Slicing successful
        data:
          type: object
          properties:
            price:
              type: number
              example: 4.4
    Filament:
      type: object
      properties:
        filament:
          type: string
          example: "PLA BLACK"
        hexColor:
          type: string
          example: "000000"
        colorTag:
          type: string
          example: "black"
        profile:
          type: string
          example: "PLA"
    Order:
      type: object
      properties:
        email:
          type: string
          format: email
        phone:
          type: string
        name:
          type: string
        orderNumber:
          type: string
        filename:
          type: string
        fileURL:
          type: string
          format: uri
        bill_to_street_1:
          type: string
        bill_to_street_2:
          type: string
        bill_to_street_3:
          type: string
        bill_to_city:
          type: string
        bill_to_state:
          type: string
        bill_to_zip:
          type: string
        bill_to_country_as_iso:
          type: string
        bill_to_is_US_residential:
          type: string
          enum:
            - "true"
            - "false"
        ship_to_name:
          type: string
        ship_to_street_1:
          type: string
        ship_to_street_2:
          type: string
        ship_to_street_3:
          type: string
        ship_to_city:
          type: string
        ship_to_state:
          type: string
        ship_to_zip:
          type: string
        ship_to_country_as_iso:
          type: string
        ship_to_is_US_residential:
          type: string
          enum:
            - "true"
            - "false"
        order_item_name:
          type: string
        order_quantity:
          type: string
          example: "1"
        order_image_url:
          type: string
          format: uri
        order_sku:
          type: string
        order_item_color:
          type: string
      required:
        - email
        - phone
        - name
        - orderNumber
        - filename
        - fileURL
        - bill_to_street_1
        - bill_to_city
        - bill_to_state
        - bill_to_zip
        - ship_to_name
        - ship_to_street_1
        - ship_to_city
        - ship_to_state
        - ship_to_zip
        - ship_to_country_as_iso
        - order_item_name
        - order_quantity
        - order_item_color
    OrderStatus:
      type: string
      enum:
        - awaiting_shipment
        - shipped
        - on_hold
        - cancelled
    Error:
      type: object
      properties:
        error:
          oneOf:
            - type: string
            - type: object
            - type: array
        status:
          type: integer
          example: 400
        url:
          type: string
    SimpleError:
      type: object
      properties:
        error:
          type: string
          example: No file URL provided in the request.

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: api-key
