openapi: 3.0.0
info:
  title: Unofficial Slant 3D API Specification
  version: 0.1.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://www.slant3dapi.com

paths:
  /api/slicer:
    post:
      summary: Slices a 3D model
      description: Slices a 3D model and returns the price
      operationId: sliceModel
      security:
        - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SliceRequest"
      responses:
        "200":
          description: Model sliced successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SliceResponse"
        "400":
          description: Invalid input or unable to slice model
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Error"
                  - type: object
                    properties:
                      error:
                        type: string
                        example: No file URL provided in the request.

  /api/filament:
    get:
      summary: Get filaments
      operationId: getFilaments
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Filaments retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  filaments:
                    type: array
                    items:
                      $ref: "#/components/schemas/Filament"

  /api/order:
    get:
      summary: Get orders
      description: Gets all orders
      operationId: getOrders
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Orders retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ordersData:
                    type: array
                    items:
                      type: object
                      properties:
                        orderId:
                          type: number
                          example: "1579503347"
                        orderTimestamp:
                          type: object
                          properties:
                            "_seconds":
                              type: number
                              example: 1727630024
                            "_nanoseconds":
                              type: number
                              example: 105000000
    post:
      summary: Place an order
      operationId: placeOrder
      security:
        - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Order"
      responses:
        "200":
          description: Order placed successfully
          content:
            text/plain:
              schema:
                type: object
                properties:
                  orderId:
                    type: string
                    example: "1579503347"
        "400":
          description: Invalid input or unable to place order
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Error"
                  - $ref: "#/components/schemas/SimpleError"

  /api/order/estimate:
    post:
      summary: Estimate an order
      description: Estimates the price of an order with shipping
      operationId: estimateOrder
      security:
        - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Order"
      responses:
        "200":
          description: Order estimate
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalPrice:
                    type: number
                    example: 9.47

        "400":
          description: Invalid input or unable to place order
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Error"
                  - $ref: "#/components/schemas/SimpleError"

  /api/order/{orderId}:
    delete:
      summary: Cancel order
      operationId: cancelOrder
      security:
        - ApiKeyAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          description: The order ID
          example: 1579503347
          schema:
            type: string
      responses:
        "200":
          description: Order cancelled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "Order cancelled"
        "400":
          description: Invalid input or unable to cancel order
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/order/{orderId}/get-tracking:
    get:
      summary: Get tracking
      description: Gets the status of an order
      operationId: getTracking
      security:
        - ApiKeyAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          description: The order ID
          example: 1579503347
          schema:
            type: string
      responses:
        "200":
          description: Order status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: "#/components/schemas/OrderStatus"
                  trackingNumbers:
                    type: array
                    # FIXME: I'm not sure what the type of the items in the array should be. String?
        "400":
          description: Invalid input or unable to get order status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  schemas:
    SliceRequest:
      type: object
      properties:
        fileURL:
          type: string
          format: uri
          example: http://example.com/model.stl
      required:
        - fileURL
    SliceResponse:
      type: object
      properties:
        message:
          type: string
          example: Slicing successful
        data:
          type: object
          properties:
            price:
              type: number
              example: 4.4
    Filament:
      type: object
      properties:
        filament:
          type: string
          example: "PLA BLACK"
        hexColor:
          type: string
          example: "000000"
        colorTag:
          type: string
          example: "black"
        profile:
          type: string
          example: "PLA"
    Order:
      type: object
      properties:
        email:
          type: string
          format: email
          example: "user@example.com"
        phone:
          type: string
          example: "123-123-1234"
        name:
          type: string
          example: "John Doe"
        orderNumber:
          type: string
          example: "ORDER-123456"
        filename:
          type: string
          example: "cool-3d-model.stl"
        fileURL:
          type: string
          format: uri
          example: "https://example.com/models/cool-3d-model.stl"
        bill_to_street_1:
          type: string
          example: "123 Main St"
        bill_to_street_2:
          type: string
          example: "Apt. 123"
        bill_to_street_3:
          type: string
        bill_to_city:
          type: string
          example: "New York"
        bill_to_state:
          type: string
          example: "New York"
        bill_to_zip:
          type: string
          example: "10001"
        bill_to_country_as_iso:
          type: string
          example: "US"
        bill_to_is_US_residential:
          type: string
          enum:
            - "true"
            - "false"
          example: "true"
        ship_to_name:
          type: string
          example: "John Doe"
        ship_to_street_1:
          type: string
          example: "123 Main St"
        ship_to_street_2:
          type: string
          example: "Apt. 123"
        ship_to_street_3:
          type: string
        ship_to_city:
          type: string
          example: "New York"
        ship_to_state:
          type: string
          example: "New York"
        ship_to_zip:
          type: string
          example: "10001"
        ship_to_country_as_iso:
          type: string
          example: "US"
        ship_to_is_US_residential:
          type: string
          enum:
            - "true"
            - "false"
          example: "true"
        order_item_name:
          type: string
          example: "Cool 3D Model"
        order_quantity:
          type: string
          example: "1"
        order_image_url:
          type: string
          format: uri
        order_sku:
          type: string
          example: "SKU-82309482093480932"
        order_item_color:
          type: string
          example: "black"
        profile:
          type: string
          example: "PLA"
          default: "PLA"
      required:
        - email
        - phone
        - name
        - orderNumber
        - filename
        - fileURL
        - bill_to_street_1
        - bill_to_city
        - bill_to_state
        - bill_to_zip
        - ship_to_name
        - ship_to_street_1
        - ship_to_city
        - ship_to_state
        - ship_to_zip
        - ship_to_country_as_iso
        - order_item_name
        - order_quantity
        - order_item_color
    OrderStatus:
      type: string
      enum:
        - awaiting_shipment
        - shipped
        - on_hold
        - cancelled
    Error:
      type: object
      properties:
        error:
          oneOf:
            - type: string
            - type: object
            - type: array
        status:
          type: integer
          example: 400
        url:
          type: string
    SimpleError:
      type: object
      properties:
        error:
          type: string
          example: No file URL provided in the request.

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: api-key
